@import url('./reset.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #808080;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.conteiner {
  padding: 24px 156px;
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}

.data-select {
  display: flex;
  column-gap: 8px;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
}

.user-input {
  width: 272px;
  color: #2e2f42;
  letter-spacing: 0.64px;

  border: 1px solid #808080;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:hover {
  border-color: #000;
}

.user-input:focus {
  border-color: #4e75ff;
  color: #000;
}

.user-input::placeholder {
  color: #2e2f42;
  letter-spacing: 0.64px;
}

.form-button {
  display: inline-block;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: #4e75ff;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: #6c8cff;
}

.loader {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  visibility: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #4e75ff inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 32px;
}

.gallery-item {
  flex: 0 0 calc((100% - 48px) / 3);
  border-radius: 8px;
  border: 1px solid #808080;
  overflow: hidden;
}

.gallery-link {
  display: block;
}

.info-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-title {
  font-weight: 700;
}

.item-content {
  display: flex;
  justify-content: center;
}

.add-button {
  display: block;
  margin: 0 auto;
}